.app {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.main-page,
.introduction-page,
.feedback-page {
  margin: 25px;
}

/* Add more styling as needed */